streamlit==1.32.2
supabase==2.3.4
pillow==10.3.0
numpy==1.24.4
opencv-python-headless==4.9.0.80
librosa==0.10.1
plotly==5.19.0
scipy==1.10.1
moviepy==1.0.3
python-dotenv==1.0.1
pydub==0.25.1
matplotlib==3.7.1
torch==2.0.1
torchvision==0.15.2
facenet-pytorch==2.5.3
